// products page

.productsMainContent {
    text-align: center;
    section {
        padding: 75px 0;
    }
    // flex-parent:
    .products {
        display: flex;
        flex-wrap: wrap;
        // flex-basis controls the flex-CHILD // flex-child:
        li {
        // flex-basis represents width property because the flex-direction is row
        flex-basis: calc(100%/3 - 30px);
        margin: 5px 15px;
        }
        img {
            border-radius: 10px;
        }
    }
    .popularProduct {
        font-weight: bold;
    }
    .discountedPrice {
        text-decoration: line-through;
        color: rgba($color: $primary, $alpha: 0.5);
        span {
            display: inline-block;
            text-decoration: none;
            color: rgba($color: $primary, $alpha: 1);
        }
    }

}


.guarantees {
    background-color: $quaternary;
    position: relative;
    h2 {
       font-size: 0.8rem;
    }
    h3 {
        font-size: 0.6rem;
        margin-bottom: 0;
    }
    p {
        font-size: 0.5rem;
        line-height: 1rem;
    }
    &::before {
        content: "";
        background-image: url(../assets/wave-3.svg);
        background-color: $quaternary;
        background-position: top center;
        background-size: 1500px 60px;
        background-repeat: repeat;
        position: absolute;
        height: 3rem;
        // could give width 100% but could also do:
        left: 0;
        right: 0;
        top: -60px;
    }
    ul {
        display: flex;
        li {
            margin: 0 20px;
            width: calc(25% - 40px);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    img {
        max-width: 50px;
    }
}

